.carousel-item{
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
	background-position: center center;
}

}

.carousel-card0{
	background-image: url(image/main_content_00.jpg);
}

.carousel-card1{
	background-image: url(image/main_content_01.jpg);
}

.carousel-card2{
	background-image: url(image/main_content_02.jpg);
}

.carousel-card3{
	background-image: url(image/main_content_03.jpg);
}