.product-wrapper {
    padding: 0 4rem;
}

.row-wrap {
    margin-top: 50px;
    width: 100%;
    height: 115px;
}

.row-container {
    float: left;
}

.row-left {
    margin-right: 3rem;
}

.row-left p {
    font-size: 12px;
}

.mid-wrap {
    padding-top: 4rem;
}

.row-left,
.row-right {
    padding: 10px;
    float: left;
}

.row-left-icon {
    display: block;
    margin-bottom: 13px;
    color: #F35512;
}

.snapmaker-title {
    margin-bottom: 17px;
    margin-top: 4px;
}

.video-part,
.description-part {
    float: left;
}

.footer-container {
    clear: left;
}

.video-content-video {
    width: 680px;
    height: 400px;
    margin-left: 20px;
}

.des-upper-line {
    width: 100%;
    height: 4px;
    background-color: #2BDE73;
    margin-bottom: 40px;
}

.description-part {
    padding: 0 0 0 70px;
}

.des-content > h4 {
    margin-bottom: 0;
}

.des-content > p {
    margin-bottom: 10px;
}

.des-footer > button {
    height: 47px;
}

.fundit {
    width: 100%;
    margin-bottom: 10px;
    color: #FFF;
    background-color: #2BDE73;
    border: 1px solid #00A812;
    border-radius: 3px;
}

.favorite-fund,
.share-fund {
    width: 48%;
    -webkit-box-shadow: -3px 4px 24px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px 4px 24px -6px rgba(0,0,0,0.75);
	box-shadow: -3px 4px 24px -6px rgba(0,0,0,0.75);
    background-color: #FFF;
    border: 1px solid #F5F5F5;
    border-radius: 3px;
}

.share-fund {
    float: right;
}
