@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
a {
	text-decoration: none;
	color: black;
}

a:hover, a:visited, a:focus{
	text-decoration: none;
	color: inherit;
}

ul, li{
	text-decoration: none;
	list-style: none;
}

.site-nav-container{
	width: 100%;
	border-bottom: 1px solid black;
    height: 65px;
    position: relative;
    bottom: -4px;
}
.upper-nav{
	display: inline-block;
	float: left;
	padding: 20px;
	width: 33%;
	line-height: 27px;
}

.upper-nav a{
	margin-left: 50px;
}

.explore-wrapper > a{
	margin-left: 0;
}

.explore-logo{
	background-image: url(image/compass.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 25px;
    height: 25px;
    float: left;
}

.nav-right a{
	float: right;
}

.nav-middle{
	text-align: center;
	font-family: 'Baloo Bhaina', cursive;
}

.nav-middle a{
	margin-left: 0;
}

.carousel-inner img{
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.logoman{
	font-size: 25px;
}

.green-word-in-logo{
	color: #2BDE73;
}

.korea-font, .korea{
	color: #6B6B6B;
	font-size: 14px;
}

.korea{
	text-transform: uppercase;
    padding-left: 5px;
}

.korea-font{
	float: right;
	margin-right: 10px;
}

/*maincontetn*/


/*mainconternt2*/
.main-second-container{
	padding: 3rem;
}

/*footer*/
footer{
	position: relative;
}
.footer-container{
	background-color: #020621;
	color: #fff;
	width: 100%;
}

.footer-content{
	padding: 3rem;
}
.footer-upper{
	padding-bottom: 3rem;
}
.footer-bottom{
	border-top: 1px solid #353535;
	padding: 3rem 0;
	height: 100px;
}